@use '../../variables.scss' as *;

.container {
    background: $blue-color;
    padding: 40px 10px 120px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;

    .header {
        color: $white-color;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        font-size: 22px;

        h1 {
            position: relative;
            font-weight: 600;
            font-size: 36px;

            &::after {
                position: absolute;
                content: '';
                top: 130%;
                left: 20%;
                width: 180px;
                height: 4px;
                background: $white-color;
            }
        }
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        width: 100%;

        img {
            width: 24%;
            min-width: 200px;
            object-fit: cover;
            border-radius: 8px;
        }
    }

}