@use '../../variables.scss' as *;

.container {
    h1 {
        color: $blue-color;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        margin: 45px 0;
    }

    .categories {
        @include d-flex(row, center, center, 65px);
        margin: 0 95px;
        @media (max-width: 1050px) {
            flex-wrap: wrap;
        }
        @media (max-width: 700px) {
            margin: 0 30px;
        }

        > :nth-child(1) {
            flex: 5;
        }

        > :nth-child(2) {
            flex: 5;
        }

        > :nth-child(3) {
            flex: 4;
        }
    }
}