@use '../../variables.scss' as *;

.container {

    .categories {
        @include d-flex(row, center, center, 65px);
        margin: 0 95px;

        > :nth-child(1) {
            flex: 5;
        }

        > :nth-child(2) {
            flex: 5;
        }

        > :nth-child(3) {
            flex: 4;
        }
    }
}