@use '../../variables.scss' as *;

.container {
    width: 400px;
    height: 450px;
    border: 3px solid $orange-color;
    border-radius: 7px;
    padding: 16px;
    @include d-flex(column, start, start);
}

h3 {
    font-weight: 500;
    font-size: 24px;
}

.divider {
    height: 4px;
    background-color: $orange-color;
    width: 60px;
}

.content {
    @include d-flex(column, start, start, 21px);
}

.markInfo {
    @include d-flex(row);

    p {
        @include d-flex(row, center, center, 5px);
        font-size: 20px;
        font-weight: 600;

        .subName {
            color: $gray-color;
            font-size: 16px;
            font-weight: 500;
        }

        .price {
            color: $orange-color;
        }
    }
}