@use '../../variables.scss' as *;

.container {
  height: 550px;
  @include d-flex(column, center, center);
  @media (max-width: 1050px) {
    margin: 0 30px;
  }
  @media (max-width: 500px) {
    margin: 0 10px;
    height: 450px;
  }

  .calculator_wrapper {
    @include d-flex(column, start, start);

    .calculator {
      border: 5px solid $orange-color;
      border-radius: 7px;
      padding: 50px 120px;
      max-width: 1000px;
      box-sizing: border-box;
      @media (max-width: 800px) {
        padding: 25px;
      }
      @media (max-width: 500px) {
        padding: 25px 10px;
        width: 100%;
      }

      h1 {
        font-size: 40px;
        font-weight: 600;
        color: $orange-color;
        margin: 0;
        margin-bottom: 50px;
        text-align: center;
        @media (max-width: 900px) {
          margin-bottom: 20px;
        }
        @media (max-width: 500px) {
          font-size: 24px;
        }
      }

      .countForm {
        @include d-flex(row, center, space-between, 25px);
        flex-wrap: wrap;

        @media (max-width: 900px) {
          display: grid;
          grid-template-areas: 
          'type type'
          'mark mark'
          'volume volume'
          'dist dist'
          'btn res';
          grid-template-columns: repeat(2,1fr);
          justify-content: center;
          gap: 20px;
          min-width: 360px;
        }
        @media (max-width: 800px) {
          min-width: 100px;
        }
        @media (max-width: 500px) {
          min-width: 250px;
          gap: 10px 5px;
          button {
            font-size: 14px;
            height: 30px;
            margin-top: 10px;
          }
        }

        .result {
          width: 40%;
          font-size: 40px;
          font-weight: 600;
          color: $orange-color;
          align-self: end;
          @media (max-width: 900px) {
            width: 100%;
          }
          @media (max-width: 800px) {
            font-size: 25px;
            margin-bottom: 10px;
          }
          @media (max-width: 500px) {
            font-size: 18px;
            margin-bottom: 5px;
            justify-self: center;
            width: fit-content;
          }
          @media (max-width: 400px) {
            font-size: 16px;
          }
        }
      }
    }

    .extraInfo {
      margin-top: 10px;
      @include d-flex(row, center, start, 5px);
      @media (max-width: 800px) {
        margin-top: 5px;
      }

      p {
        @media (max-width: 800px) {
          font-size: 14px;
        }
        >span {
          cursor: pointer;
          color: $blue-color;
        }
      }
    }
  }
}