@use '../../variables.scss' as *;

.container {
    @include d-flex(row, start, space-between, 24px);
    height: 750px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    @media(max-width:700px) {
        max-height: 600px;
    }
    @media(max-width:500px) {
        max-height: 500px;
    }
    @media(max-width:420px) {
        max-height: 450px;
        gap: 20px;
        margin: 0 15px;
        width: calc(100% - 30px);
    }
    @media(max-width:370px) {
        max-height: 385px;
    }

    .images {
        @include d-flex(column, center, center, 24px);
        flex-wrap: wrap;
        height: 100%;
        box-sizing: border-box;

        @media(max-width:1100px) {
            display: grid;
            grid-template-areas: 
            'img1'
            'img2'
            'img3';
            grid-template-rows: 9fr 5fr 5fr;
            gap: 10px;
            width: 30%;

            img {
                max-width: 200px;
                height: 100%;
                width: 100%;

                &:nth-child(1){
                    grid-area: img2;
                }
                &:nth-child(2){
                    grid-area: img1;
                }
                &:nth-child(4){
                    grid-area: img3;
                }
            }
        }
        @media(max-width:700px) {
            width: 23%;
            min-width: 150px;
        }
        @media(max-width:500px) {
            min-width: 100px;
        }
        @media(max-width:370px) {
            min-width: 75px;
        }
    }

    .info {
        flex: 1;
        box-sizing: border-box;
        min-height: 100%;

        @include d-flex(column, start, space-between, 10px);

        p {
            span {
                font-weight: 700;
            }
        }

        ul {
            li {
                span {
                    font-weight: 600;
                }
            }
        }

        .buttons {
            width: 100%;
            margin-top: 50px;
            @include d-flex(row, center, space-between, 24px);
            @media(max-width:700px) {
                margin-top: 0;
            }

            button {
                text-transform: uppercase;
                color: $white-color;
                font-weight: 600;
                font-size: 13px;
                border: none;
                height: 60px;
                cursor: pointer;
                @include d-flex(row, center, center);
                flex: 1;
                border-radius: 0;

                @media (max-width:700px) {
                    font-size: 10px;
                    height: 45px;
                }
                @media (max-width:500px) {
                    font-size: 8px;
                    height: 35px;
                }
                @media (max-width:420px) {
                    font-size: 6px;
                    height: 25px;
                }

                &:nth-child(1) {
                    background: $orange-color;
                }

                &:nth-child(2) {
                    background: $blue-color;
                }
            }
        }

        h1 {
            font-weight: 700;
            font-size: 40px;
            margin-bottom: 30px;

            @media(max-width:1250px) {
                font-size: 35px;
                margin-bottom: 20px;
            }
            @media(max-width:700px) {
                font-size: 25px;
                margin-bottom: 10px;
            }
            @media(max-width:500px) {
                font-size: 23px;
            }
            @media(max-width:420px) {
                font-size: 20px;
            }
        }

        p {
            font-weight: 400;
            font-size: 20px;

            @media(max-width:1250px) {
                font-size: 18px;
            }
            @media(max-width:700px) {
                font-size: 14px;
            }
            @media(max-width:500px) {
                font-size: 12px;
            }
            @media(max-width:420px) {
                font-size: 11px;
            }
            @media(max-width:370px) {
                font-size: 10px;
            }
        }

        h6 {
            font-size: 20px;
            font-weight: 600;
            margin-top: 20px;

            @media(max-width:1250px) {
                font-size: 18px;
                margin-top: 15px;
            }
            @media(max-width:500px) {
                font-size: 15px;
                margin-top: 10px;
            }
            @media(max-width:420px) {
                font-size: 12px;
                margin-top: 5px;
            }
        }

        ul {
            font-size: 20px;
            font-weight: 400;
            margin: 18px 0 20px;
            list-style-position: inside;
            box-sizing: border-box;

            @media(max-width:1250px) {
                font-size: 18px;
                margin-top: 10px;
            }
            @media(max-width:700px) {
                font-size: 14px;
            }
            @media(max-width:500px) {
                font-size: 12px;
                margin: 5px 0 15px;
            }
            @media(max-width:420px) {
                font-size: 11px;
                margin-bottom: 10px;
            }
            @media(max-width:370px) {
                font-size: 10px;
            }
        }
    }
}

.highlight {
    animation: pulse 1s ease-in-out 3;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}