@use '../../variables.scss' as *;

.container {
    margin-top: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

h1 {
    text-align: center;
    color: $blue-color;
    font-size: 32px;
    font-weight: 600;
    margin: 45px 0;
}